<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" />
        <title>Make GIF</title>
    </head>
    <body>
        <header>
            <h1>Make GIF Animations</h1>
        </header>
        <nav>
            <ul>
                <li><a href="{% url 'mkgif_app:index' %}">Home</a></li>
                <li>
                    <span>{{ user }}</span>
                    <ul>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                    </span>
                </li>
            </ul>
        </nav>
        <main>
            <p>My GIF Animations:</p>
            <table>
                {% for anim in anims %}
                <tr>
                <form action="{% url 'mkgif_app:delete_anim' anim.pk %}" method="POST">
                    {% csrf_token %}
                 <td>{{ anim.pk }}</td>
                <td>
                     <a href="{% url 'mkgif_app:details' anim.pk %}">{{ anim.name }}</a>
                </td>
                <td><button type="submit">Delete</button></td>
                </form>
                </tr>
                {% endfor %}
            </table>
            <hr>
            <form action="{% url 'mkgif_app:index' %}" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <legend><label>Add New GIF Animation</label></legend>
                    {% csrf_token %}
                    <input name="name" type="text" placeholder="Animation name">
                    <input name="imgs" type="file" multiple>
                    <button type="submit">Submit</button>
                </fieldset>
            </form>
        </main>
    </body>
</html>
